@use '@assets/colors' as *;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(rgba($background4, 0.6), rgba($background1, 0.8)),
    url('/assets/img/background_timer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  .playButton {
    right: 26px;
    bottom: 26px;
  }

  .innerBlock {
    margin-bottom: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    margin: 0 0 24px 0;
    text-align: center;
  }

  .timeBlock {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}
