@use '@assets/colors' as *;
@use '@assets/mixins' as *;

$paddingTop: 24px;
$blockPaddingTop: 16px;

$activeWidth: 12px;
$activeMargin: 6px;

.container {
  @include selectableList;

  .completed {
    color: rgba($mainOrange, 30%);
    pointer-events: none;
  }

  .description {
    @include scrollbarStyle;

    display: flex;
    flex-flow: column nowrap;
    width: 55%;
    height: 100%;
    gap: 24px;
    padding-top: $blockPaddingTop;
    overflow-y: auto;

    p {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin: 0;
    }
  }
}

.codeInputBlock {
  display: flex;
  gap: 24px;

  .codeInput {
    border: 1px solid $mainOrange;
    padding: 0 12px;
    color: inherit;
    background: transparent;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
